<div class="text-center" ng-controller="PaginationCtrl">
    <div class="pagination text-center">
        <li ng-class="{disabled : pageInfo.currentPage == 1}">
            <a href="#" ng-click="getList(1)">
                <span>首页</span>
            </a>
        </li>
        <li ng-class="{disabled : pageInfo.currentPage == 1}">
            <a href="#"  ng-click="getList(pageInfo.currentPage - 1)">
                <span>上一页</span>
            </a>
        </li>
        <li ng-repeat="page in pages" ng-class="{active : pageInfo.currentPage == page}"><a ng-click="getList(page)" href="#">{{page}}</a></li>
        <li ng-class="{disabled: pageInfo.currentPage == pageInfo.totalPage}">
            <a href="#" ng-click="getList(pageInfo.currentPage + 1)">
                <span>下一页</span>
            </a>
        </li>
        <li ng-class="{disabled: pageInfo.currentPage == pageInfo.totalPage}">
            <a href="#" ng-click="getList(pageInfo.totalPage)">
                <span>尾页</span>
            </a>
        </li>
        <li>
    </div>
</div>