<div class="container" ng-controller="SigninCtrl">
    <form class="form-signin">
        <h2 class="form-signin-heading">欢迎来到接口管理系统</h2>
        <label for="inputEmail" class="sr-only">账号</label>
        <input ng-model="user.account" type="text" id="inputEmail" class="form-control" placeholder="您的账号" autofocus>
        <label for="inputPassword" class="sr-only">密码</label>
        <input ng-model="user.passwd" type="password" id="inputPassword" class="form-control" placeholder="您的密码">
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> 记住账号
            </label>
        </div>
        <button type="button" class="btn btn-lg btn-primary btn-block" ng-click="submit()" ng-disabled="loading">
           <span ng-hide="loading">登录</span>
           <span ng-show="loading">登录中...</span>
        </button>
    </form>
</div>