<div ng-controller="UserCtrl">
	<h2 class="sub-header">创建/修改用户</h2>
	<div class="list-group">
		<label for="userAccount">账号</label><input type="text" ng-model="ele.account" class="form-control" name="userAccount" placeholder="输入用户账号">
	</div>
	<div class="list-group">
		<label for="userName">名称</label><input type="text" ng-model="ele.name" class="form-control" name="userName" placeholder="输入用户名称">
	</div>
	<div class="list-group">
		<label for="userPasswd">密码</label><input type="password" ng-model="ele.passwd" class="form-control" name="userPasswd" placeholder="输入用户密码">
	</div>
	<div class="list-group">
		<label for="authRole">角色</label> 
		<select name="authRole" class="form-control" ng-model="ele.roleId">
			<option ng-repeat="role in roles" value="{{role.id}}">{{role.name}}</option>
		</select>
	</div>
	<button type="button" class="btn btn-sm btn-primary" ng-click="submitForm()" ng-disabled="loading || ele.account == null || ele.account == ''">
		<span ng-hide="loading">提交</span> <span ng-show="loading">提交中...</span>
	</button>
</div>