<!DOCTYPE HTML>
<html ng-app="imApp" xmlns:th="http://www.thymeleaf.org">
<head>
<title>接口管理</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="app/app.css" />
<link rel="stylesheet" href="sco/scojs.css" type="text/css" />
<link rel="stylesheet" href="sco/sco.message.css" type="text/css" />
</head>
<body>

	<ui-view></ui-view>
	<script src="angularjs/angular.js"></script>
	<script src="angularjs/angular-cookies/angular-cookies.js"></script>
	<script src="angularjs/angular-ui-router/angular-ui-router.js"></script>
	<script src="angularjs/angular-ui-bootstrap/ui-bootstrap.min.js"></script>
	<script src="angularjs/angular-ui-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script src="jquery/jquery.min.js"></script>
	<script src="app/app.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="sco/sco.message.js"></script>
	<script src="md5/md5-min.js"></script>
</body>
</html>